In [31]:
import pandas as pd
import requests

In [33]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

df = pd.DataFrame(response.json()['results'])[['id','original_title' , 'overview']]
df

,id,original_title,overview
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o..."
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...
3,424,Schindler's List,The true story of how businessman Oskar Schind...
4,389,12 Angry Men,The defense and the prosecution have rested an...
5,129,千と千尋の神隠し,"A young girl, Chihiro, becomes trapped in a st..."
6,155,The Dark Knight,Batman raises the stakes in his war on crime. ...
7,19404,दिलवाले दुल्हनिया ले जायेंगे,"Raj is a rich, carefree, happy-go-lucky second..."
8,497,The Green Mile,A supernatural tale set on death row in a Sout...
9,496243,기생충,"All unemployed, Ki-taek's family takes peculia..."
10,122,The Lord of the Rings: The Return of the King,As armies mass for a final battle that will de...
11,680,Pulp Fiction,"A burger-loving hit man, his philosophical par..."
12,372058,君の名は。,High schoolers Mitsuha and Taki are complete s...
13,429,"Il buono, il brutto, il cattivo",While the Civil War rages on between the Union...
14,157336,Interstellar,The adventures of a group of explorers who mak...
15,13,Forrest Gump,A man with a low IQ has accomplished great thi...
16,769,GoodFellas,"The true story of Henry Hill, a half-Irish, ha..."
17,346,七人の侍,A samurai answers a village's request for prot...
18,12477,火垂るの墓,"In the final months of World War II, 14-year-o..."
19,637,La vita è bella,A touching story of an Italian book seller of ...

In [57]:
#for all pages : 
new_df = pd.DataFrame()
for i in range(1,5):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id','original_title' , 'overview']]
    new_df = pd.concat([new_df,temp_df],ignore_index = True)

new_df

,id,original_title,overview
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o..."
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...
3,424,Schindler's List,The true story of how businessman Oskar Schind...
4,389,12 Angry Men,The defense and the prosecution have rested an...
...,...,...,...
75,1356039,Contraataque,When a hostage rescue mission creates a new en...
76,18491,新世紀エヴァンゲリオン劇場版 Air／まごころを、君に,"SEELE orders an all-out attack on NERV, aiming..."
77,975,Paths of Glory,A commanding officer defends three scapegoats ...
78,901,City Lights,A tramp falls in love with a beautiful blind f...
79,8587,The Lion King,"Young lion prince Simba, eager to one day beco..."

In [58]:
new_df.to_csv('dataset_movies.csv')