In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('cars.csv')
df.sample(5)

        brand  km_driven    fuel         owner  selling_price
3533    Skoda      11000  Petrol   First Owner         645000
6175   Toyota      79328  Diesel  Second Owner         750000
6482     Tata      28000  Petrol   First Owner         650000
4382  Hyundai     101000  Diesel   First Owner         425000
317   Renault      40000  Petrol   First Owner         229999

In [4]:
df['owner'].value_counts()

owner
First Owner             5289
Second Owner            2105
Third Owner              555
Fourth & Above Owner     174
Test Drive Car             5
Name: count, dtype: int64

In [5]:
#onehot encoding using pandas
pd.get_dummies(df,columns=['fuel','owner'])

,brand,km_driven,selling_price,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,False,True,False,False,True,False,False,False,False
1,Skoda,120000,370000,False,True,False,False,False,False,True,False,False
2,Honda,140000,158000,False,False,False,True,False,False,False,False,True
3,Hyundai,127000,225000,False,True,False,False,True,False,False,False,False
4,Maruti,120000,130000,False,False,False,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,False,False,False,True,True,False,False,False,False
8124,Hyundai,119000,135000,False,True,False,False,False,True,False,False,False
8125,Maruti,120000,382000,False,True,False,False,True,False,False,False,False
8126,Tata,25000,290000,False,True,False,False,True,False,False,False,False
8127,Tata,25000,290000,False,True,False,False,True,False,False,False,False

In [6]:
#k-1 encoding
pd.get_dummies(df,columns=['fuel','owner'],drop_first=True)

,brand,km_driven,selling_price,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,True,False,False,False,False,False,False
1,Skoda,120000,370000,True,False,False,False,True,False,False
2,Honda,140000,158000,False,False,True,False,False,False,True
3,Hyundai,127000,225000,True,False,False,False,False,False,False
4,Maruti,120000,130000,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,False,False,True,False,False,False,False
8124,Hyundai,119000,135000,True,False,False,True,False,False,False
8125,Maruti,120000,382000,True,False,False,False,False,False,False
8126,Tata,25000,290000,True,False,False,False,False,False,False
8127,Tata,25000,290000,True,False,False,False,False,False,False

In [8]:
#onehot encoding using sklearn
from sklearn.model_selection import train_test_split

X_train ,X_test ,y_train ,y_test = train_test_split(df.iloc[:,0:4],df.iloc[:,-1],test_size=0.2)
X_train.head()

        brand  km_driven    fuel         owner
4466  Hyundai      60000  Diesel   First Owner
7645     Tata     250000  Diesel  Second Owner
3658     Ford     120000  Diesel  Second Owner
5573   Toyota     110000  Petrol   First Owner
2885   Maruti      60000  Petrol   First Owner

In [17]:
from sklearn.preprocessing import OneHotEncoder
one = OneHotEncoder(drop='first',sparse=False,dtype=np.int32)

X_train_new = one.fit_transform(X_train[['fuel','owner']]).toarray()
X_test_new = one.transform(X_train[['fuel','owner']]).toarray()

In [18]:
np.hstack((X_train[['brand','km_driven']].values,X_train_new))

(6502, 9)

In [24]:
counts  = df['brand'].value_counts()
threshold = 100

repl =counts[counts<=threshold].index

pd.get_dummies(df['brand'].replace(repl,'uncommon'))

,BMW,Chevrolet,Ford,Honda,Hyundai,Mahindra,Maruti,Renault,Skoda,Tata,Toyota,Volkswagen,uncommon
0,False,False,False,False,False,False,True,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,True,False,False,False,False
2,False,False,False,True,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,False,False,False,False,True,False,False,False,False,False,False,False,False
8124,False,False,False,False,True,False,False,False,False,False,False,False,False
8125,False,False,False,False,False,False,True,False,False,False,False,False,False
8126,False,False,False,False,False,False,False,False,False,True,False,False,False
8127,False,False,False,False,False,False,False,False,False,True,False,False,False